body, html {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.contador {
    max-width: 800px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

.about-me-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-me-text {
    max-width: 500px;
}

.about-me-image img {
    max-width: 100%;
    border-radius: 10px;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
